In [1]:
import pyexcel as p
from IPython.display import HTML, display
sheet = p.get_sheet(url='https://raw.githubusercontent.com/pyexcel/pyexcel-chart/master/API_SP.DYN.LE00.IN_DS2_en_csv_v2.csv')
sheet.top_left()

pyexcel sheet:
+-------------------+------------------------------+----------------+----------------+------+
| ﻿"Data Source"    | World Development Indicators |                |                |      |
+-------------------+------------------------------+----------------+----------------+------+
|                   |                              |                |                |      |
+-------------------+------------------------------+----------------+----------------+------+
| Last Updated Date | 03/01/17                     |                |                |      |
+-------------------+------------------------------+----------------+----------------+------+
|                   |                              |                |                |      |
+-------------------+------------------------------+----------------+----------------+------+
| Country Name      | Country Code                 | Indicator Name | Indicator Code | 1960 |
+-------------------+------------------------------+----------------+----------------+------+

In [2]:
del sheet.row[:4]
sheet.top_left()

pyexcel sheet:
+--------------+--------------+-----------------------------------------+----------------+------------------+
| Country Name | Country Code | Indicator Name                          | Indicator Code | 1960             |
+--------------+--------------+-----------------------------------------+----------------+------------------+
| Aruba        | ABW          | Life expectancy at birth, total (years) | SP.DYN.LE00.IN | 65.5693658536586 |
+--------------+--------------+-----------------------------------------+----------------+------------------+
| Andorra      | AND          | Life expectancy at birth, total (years) | SP.DYN.LE00.IN |                  |
+--------------+--------------+-----------------------------------------+----------------+------------------+
| Afghanistan  | AFG          | Life expectancy at birth, total (years) | SP.DYN.LE00.IN | 32.328512195122  |
+--------------+--------------+-----------------------------------------+----------------+------------------+
| Angola       | AGO          | Life expectancy at birth, total (years) | SP.DYN.LE00.IN | 32.9848292682927 |
+--------------+--------------+-----------------------------------------+----------------+------------------+

In [3]:
del sheet.column[1:4]
sheet.top_left()

pyexcel sheet:
+--------------+------------------+------------------+------------------+------------------+
| Country Name | 1960             | 1961             | 1962             | 1963             |
+--------------+------------------+------------------+------------------+------------------+
| Aruba        | 65.5693658536586 | 65.9880243902439 | 66.3655365853659 | 66.7139756097561 |
+--------------+------------------+------------------+------------------+------------------+
| Andorra      |                  |                  |                  |                  |
+--------------+------------------+------------------+------------------+------------------+
| Afghanistan  | 32.328512195122  | 32.7774390243902 | 33.2199024390244 | 33.6578780487805 |
+--------------+------------------+------------------+------------------+------------------+
| Angola       | 32.9848292682927 | 33.3862195121951 | 33.7875853658537 | 34.1884634146342 |
+--------------+------------------+------------------+------------------+------------------+

In [4]:
sheet.transpose()
sheet.top_left()

pyexcel sheet:
+--------------+------------------+---------+------------------+------------------+
| Country Name | Aruba            | Andorra | Afghanistan      | Angola           |
+--------------+------------------+---------+------------------+------------------+
| 1960         | 65.5693658536586 |         | 32.328512195122  | 32.9848292682927 |
+--------------+------------------+---------+------------------+------------------+
| 1961         | 65.9880243902439 |         | 32.7774390243902 | 33.3862195121951 |
+--------------+------------------+---------+------------------+------------------+
| 1962         | 66.3655365853659 |         | 33.2199024390244 | 33.7875853658537 |
+--------------+------------------+---------+------------------+------------------+
| 1963         | 66.7139756097561 |         | 33.6578780487805 | 34.1884634146342 |
+--------------+------------------+---------+------------------+------------------+

In [5]:
sheet.name_columns_by_row(0)
sheet.column.select(['Country Name', 'Brazil', 'Russian Federation', 'India', 'China', 'South Africa'])
sheet.top_left()

pyexcel sheet:
+--------------+------------------+------------------+------------------+--------------------+
| Country Name |      Brazil      |      China       |      India       | Russian Federation |
+==============+==================+==================+==================+====================+
| 1960         | 54.2054634146342 | 43.354           | 41.1719512195122 | 66.0552926829268   |
+--------------+------------------+------------------+------------------+--------------------+
| 1961         | 54.7187073170732 | 43.6733414634146 | 41.7904878048781 | 66.5970243902439   |
+--------------+------------------+------------------+------------------+--------------------+
| 1962         | 55.2356585365854 | 44.3983414634146 | 42.4174146341463 | 67.0214146341464   |
+--------------+------------------+------------------+------------------+--------------------+
| 1963         | 55.7513902439024 | 45.5788780487805 | 43.0527317073171 | 67.3399024390244   |
+--------------+------------------+------------------+------------------+--------------------+
| 1964         | 56.2629512195122 | 47.1895609756098 | 43.6984146341463 | 67.566512195122    |
+--------------+------------------+------------------+------------------+--------------------+

In [6]:
sheet.plot(chart_type='line', 
           title='Life expectancy at birth in BRICS countries (years)',
           x_labels_major_count=10,
           x_label_rotation=30,
           show_minor_x_labels=False)

TypeError: custom_presenter() missing 1 required positional argument: 'self'